<h1>Cocktails</h1>
<p><%= "==========================="  %></p>

<% @cocktails.each do |cocktail| %>
<p><%= cocktail.id %>. <%= link_to cocktail.name, cocktail %></p>
<% end %>

<p><%= "===========================" %></p>
<p><%= link_to "NEW COCKTAIL", new_cocktail_path %></p>
