<h1>New cocktail</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.association :ingredient %>

  <%= f.submit %>
<% end %>

<p><%= link_to "back to index", cocktails_path %></p>
